.page1 {
  background: url('http://image.noelshack.com/fichiers/2016/12/1459000356-pluie.png') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  scroll-content{
    background-color: rgba(165, 210, 255, 0.46);
  }

  current-time{

  }
}
