.page1 {
  background: url('../../img/Nature.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //scroll-content {
  //  background: url("/img/Nature.jpg")  no-repeat center;
  //  background-size: 100% 100%;
  //}
  #weather_desc {
    font-size: 2rem;
  }

  current-time {
    text-align: center;
  }

  #temp{
    #val-temp{font-size: 7.48rem;}
    color: midnightblue;
    font-family:cursive;
  }
  #celsius{
    font-size: 3.58rem;
    position: absolute;
  }


}
